html
  head
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
    script(src="../js/forgotPassword.js")
  meta(charset="UTF-8")
  title Reset Password Form
  link(rel="stylesheet" href="../css/login.css")
  body
    div(id="otpDialog")
  
    div(id="wrapper")
      div(class="mail-text")
        div(class="form1")
          p Enter your registered email id.
          br
          input(name="email" type="text" placeholder="Enter your email address..." size="70" id="email")
          button(class="login-acc" type="submit" id="emailbtn") Submit
          div(class="clr")
            hr
          input(type="text" placeholder="Enter OTP.." size="70" id="otp")
          button(class="login-acc" type="submit" id="otpbtn") Submit    
    
