html
  head
    meta(charset="UTF-8")
    title Profile
    //- link(rel="stylesheet" href="register.css")
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
  body
    a(href="/logout") Logout
    div(id='space')
      = user
