html
  head
    meta(charset="UTF-8")
    title Profile
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
    meta(name="viewport" content="width=device-width")
      //-<!--  Material Dashboard CSS    -->
    link(href="../assets/css/material-dashboard.css" rel="stylesheet")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/css/bootstrap-notify.css")
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons")
    link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css")
    link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css")
    link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css")
    link(rel="stylesheet" href="../css/croppie.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    script(src="http://localhost:4000/socket.io/socket.io.js")
    //-  <!--  Dynamic Elements plugin -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/arrive/2.4.1/arrive.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/arrive/2.4.1/arrive.min.js")
    script(src="../assets/js/material-dashboard.js")
    script(type="text/javascript" src="../js/searchCard.js")
    script(type="text/javascript" src="../js/profilePic.js")
    script(type="text/javascript" src="../js/croppie.js")
  body
    nav(class="navbar")
        div(class="container-fluid" style="background-color: #f7f2f0 ")
            div(class="navbar-header")
              span(id="sidebarCollapse" style="font-size:30px;cursor:pointer") &#9776; Fundoo Notes
              input(type="text" id='space' style="display:none" value
              =
                user._id
              )
            ul(class="nav navbar-nav navbar-right")
              li
                a(href="/profile" class="dropdown-toggle" data-toggle="dropdown")
                  i(class="material-icons") dashboard
                  div(class="hidden-lg hidden-md" style="display:inline-block") Dashboard
              li(class="dropdown")
                a(href="#" class="dropdown-toggle" data-toggle="dropdown")
                  i(class="material-icons") notifications
                  div(class="hidden-lg hidden-md" style="display:inline-block") Notifications
                    ul(class="dropdown-menu")
                      li
                        a(href="#")
              li
                div(class="dropdown")
                  a(href="" id="person-info" class="dropdown-toggle" data-toggle="dropdown")
                    img(id="userProfilePic" src
                      =
                      user.profilePic 
                       width="50" height="50" alt="image" class="img-responsive img-thumbnail img-circle")
                    div(class="hidden-lg hidden-md" style="display:inline-block") Profile
                  div(class="dropdown-menu")
                    div
                      a(data-toggle="modal" data-target="#changeProfilePic")
                        img(src
                          =
                          user.profilePic
                           width="50" height="50" alt="img" class="img-responsive img-thumbnail img-circle")
                      input(style="border-style:none" value
                        =
                          user.firstname+" "+user.lastname
                          )
                    input(style="border-style:none" value
                      =
                        user.local.email
                        )
                    a(href="/logout") Logout
            form(class="navbar-form navbar-right" method="POST" action="/search")
                  div(class="form-group  is-empty")
                    input(type="text" name="text" class="form-control" placeholder="Search")
                    span(class="material-input")
                      button(type="submit" class="btn btn-white btn-round btn-just-icon")
                        i(class="material-icons") search
    div(class="wrapper")
      div(class="sidebar")
        div(class="sidebar-wrapper" id="sideBar")
          ul(class="nav")
            li(class="active")
              a(href="/profile")
                i(class="material-icons") dashboard
                div(style='display:inline-block') Notes
            li
              a(href="/showReminder")
                i(class="material-icons") alarm
                div(style='display:inline-block') Reminders
            li
              a(href="/showArchive")
                i(class="material-icons") archive
                div(style='display:inline-block') Archive
            li
              a(href="/showTrash")
                i(class="material-icons") delete
                div(style='display:inline-block') Trash
      div(class="main-panel" id="mainPanel")
        input(type="text" style="display:none" id="data" value=
        data
        )
        div(class="content")
          div(class="container-fluid")
            div(class="row" id="cardList")  
            div(class="modal fade" id="changeProfilePic" role="dialog")
              div(class="modal-dialog")
                //-<!-- Modal content-->
                div(class="modal-content")
                  div(class="modal-body")
                    form(enctype="multipart/form-data" method="POST" action="/changeProfilePic")
                      input(type="file" name="fname" style="display:block" id="filename")
                      div(class="profilePic")
                      button(type="submit" class="btn btn-default") Upload
                  div(class="modal-footer")
                    //-cancel button in footer -->  
                    button(type="button" class="btn btn-default" id="crop") Crop          
                    button(type="button" class="btn btn-default" data-dismiss="modal") Cancel
    script(src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js")      
