html
  head
    meta(charset="UTF-8")
    title Profile
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport')
    meta(name="viewport" content="width=device-width")
      //-<!--  Material Dashboard CSS    -->
    link(href="../assets/css/material-dashboard.css" rel="stylesheet")
      //-<!--  CSS for Demo Purpose, don't include it in your project     -->
    //- link(href="../assets/css/demo.css" rel="stylesheet")
    
    //- link(rel="stylesheet" href="../css/register.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/css/bootstrap-notify.css")
    //- link(rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")
    //- script(defer src="https://code.getmdl.io/1.3.0/material.min.js")
    link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons")
    link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css")
    link(rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.css")
    //- link(rel="stylesheet" href="../css/card.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
    script(src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v1.3.0.js")
    script(src="http://builds.emberjs.com/tags/v1.5.0/ember.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js")
    script(src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js")
    script(src="http://localhost:4000/socket.io/socket.io.js")
    //-  <!--  Dynamic Elements plugin -->
    script(src="https://cdnjs.cloudflare.com/ajax/libs/arrive/2.4.1/arrive.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/arrive/2.4.1/arrive.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.8.1/js/perfect-scrollbar.jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-notify/0.2.0/css/bootstrap-notify.min.css")
    script(src="../assets/js/material-dashboard.js")
    script(src="../js/trash.js")
  body
    nav(class="navbar")
        div(class="container-fluid" style="background-color: #f7f2f0 ")
            div(class="navbar-header")
              span(id="sidebarCollapse" style="font-size:30px;cursor:pointer") &#9776; Fundoo Notes
            ul(class="nav navbar-nav navbar-right")
              li
                a(href="/profile" class="dropdown-toggle" data-toggle="dropdown")
                  i(class="material-icons") dashboard
                  div(class="hidden-lg hidden-md" style="display:inline-block") Dashboard
              li(class="dropdown")
                a(href="#" class="dropdown-toggle" data-toggle="dropdown")
                  i(class="material-icons") notifications
                  div(class="hidden-lg hidden-md" style="display:inline-block") Notifications
                    ul(class="dropdown-menu")
                      li
                        a(href="#")
              li
                div(class="dropdown")
                  a(href="" id="person-info" class="dropdown-toggle" data-toggle="dropdown")
                    i(class="material-icons") person
                    div(class="hidden-lg hidden-md" style="display:inline-block") Profile
                  div(class="dropdown-menu")
                    div
                      input(style="border-style:none" value
                        =
                          user.firstname+" "+user.lastname
                          )
                    input(style="border-style:none" value
                      =
                        user.local.email
                        )
                    a(href="/logout") Logout
            form(class="navbar-form navbar-right" role="search")
                  div(class="form-group  is-empty")
                    input(type="text" class="form-control" placeholder="Search")
                    span(class="material-input")
                      button(type="submit" class="btn btn-white btn-round btn-just-icon")
                        i(class="material-icons") search
    div(class="wrapper")
      div(class="sidebar" data-color="purple")
        div(class="sidebar-wrapper" id="sideBar")
          ul(class="nav")
            li(class="active")
              a(href="/profile")
                i(class="material-icons") dashboard
                div(style='display:inline-block') Notes
            li
              a(href="/showReminder")
                i(class="material-icons") alarm
                div(style='display:inline-block') Reminders
            li
              a(href="/showArchive")
                i(class="material-icons") archive
                div(style='display:inline-block') Archive
            li
              a(href="/showTrash")
                i(class="material-icons") delete
                div(style='display:inline-block') Trash
      div(class="main-panel" id="mainPanel")
        input(id='trash' type='text' style="display:none" value
          =
            trash
            )
        div(class="content")
          div(class="container-fluid")
            div(class="row" id="cardList")
              
              
