//- !DOCTYPE
html
  head
    script(src="http://code.jquery.com/jquery-1.9.1.min.js")
  meta(charset="UTF-8")
  title Verify User
  link(rel="stylesheet" href="./css/login.css")
  body
    div(id="wrapper")
      p
        =message
      div(class="mail-text")
        div(class="form1")
          p Enter your email id.
          br
          form(method="POST" action="/verifyUser")
            input(name="email" type="text" placeholder="Enter email" size="70")
            input(type="text" placeholder="Confirm Email" size="70")
            button(class="login-acc" type="submit") Submit
        
